@{
    Layout = "_Layout";

    ViewBag.Title = ViewData["Title"];

}
@using _361Capstone.Models;

<html>

<head>

    <link href="@Url.Content("~/CSS/List.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="@Url.Content("~/Content/Scripts/jquery-3.6.0.min.js")"></script>


</head>

<body>
    <div style="display:none" id="addSuccess" class="alert alert-success" role="alert">
        This item was successfully added to your cart.
    </div>
    <div style="display:none" id="addFail" class="alert alert-danger" role="alert">
        Error: There was a problem adding this item to your cart.
    </div>
    <div class="grid-container">


        <div class="list">

            <h1>@ViewData["Title"]</h1>
            <p><strong>Description:</strong> @ViewData["Description"]</p>
            <p><strong>Manufacturer Info:</strong> @ViewData["ManInfo"]</p>
            <p><strong>Dimensions:</strong> @ViewData["Dimensions"]</p>
            <p><strong>Weight:</strong> @ViewData["Weight"]lbs</p>
            <p><strong>Rating:</strong> @ViewData["Rating"]</p>
            <p><strong>Amount in Stock:</strong> @ViewData["StockCount"]</p>

            <!--Lists items-->
            <!--For loop to add spaces-->
            <ul style="list-style-type:none;" class="space">
            </ul>
        </div>

        <div class="addToCart">
            <form autocomplete="off">
                <hr />
                <!--<label for="username"><b>Username</b></label>
                <input type="text" class="txtInput" id="username" placeholder="Enter Username"><br>

                <label for="password"><b>Password</b></label>
                <input type="password" class="txtInput" id="password" placeholder="Enter Password"><br>-->
                <!--<label for="itemQuantity">Add items to cart: </label>-->
                <input type="number" id="quantity" name="itemQuantity" min="1" max='@ViewData["StockCount"]' />
                <input type="button" class="submitBtn" id="submitBtn" value="Add to Cart" onclick="addItemToCart(@ViewData["UserId"], @ViewData["ProductId"], document.getElementById('quantity').value)"><br>
            </form>
            <br /><br />
            <a class="btn btn-primary" href='@Url.Action("Index", "Products")?userId=@ViewData["UserId"]' role="button">Go To Products Page</a>
        </div>

    </div>
</body>
</html>

<script>

    function checkForAddedItem() {
        var addedItemBool = @ViewData["AddedItem"];
        if (addedItemBool == 1) {
            $('#addSuccess').show();
        } else if(addedItemBool == -1) {
            $('#addFail').show();
        }
    }

    $(document).ready(function () {
        $('#addSuccess', '#addFail').hide();

        checkForAddedItem();
    })



    function addItemToCart(userId, productId, count) {
        location.href = '@Url.Action("AddItemToCart", "ProductDetails")?userId=' + userId + '&productId=' + productId + "&count=" + count;
    }
</script>