@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
@using _361Capstone.Models;
@using System.Web;

<html>

<head>
    <link href="@Url.Content("~/Content/Styles/UserLists.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="@Url.Content("~/Content/Styles/List.css")" rel="stylesheet" type="text/css" asp-append-version="true" />

</head>

<body>
    <div class="grid-container">
        <div class="list">

            <h1>Items</h1>

            <!--Lists all lists owned by the given user.-->
            <ul id="cartUL" style="list-style-type:none;" class="item">
                @foreach (Product product in (List<Product>)ViewData["Products"]) {
                    <li id="cartLI" onclick="location.href='@Url.Action("Index", "ProductDetails", new { productId = @product.GetProductId(), userId = ViewData["UserId"]})'">
                    @product.GetName() <span style="float:right">Quantity: @product.GetStockCount()</span>
                    </li>}
            </ul>

            <!--Pads the list with empty spaces, if needed.-->
            <ul id="cartUL" style="list-style-type:none;" class="space">
                @for (int i = (int)ViewData["ListCount"]; i < 10; i++) {
                    if ((int)ViewData["ListCount"] % 2 == 0) {
                        <li id="cartLI" class="startEven"><p> </p></li> 
                    } else {
                        <li id="cartLI" class="startOdd"><p> </p></li>
                    }
                }
            </ul>
        </div>



        <!--<div class="add">
            <form autocomplete="off">
                <input type="text" id="title" placeholder="Add new item"><br><br>
                <input type="button" class="addBtn" value="Add" onclick="addList(document.getElementById('title').value, @ViewData["UserId"])">
            </form>
        </div>-->
        <div>
            <a class="btn btn-primary" href='@Url.Action("Index", "Products")?userId=@ViewData["UserId"]' role="button">Go To Products Page</a>
        </div>

    </div>
</body>
</html>

<script>

     function addList(title, userId) {
        location.href = '@Url.Action("Add", "UserLists")?title=' + title + '&userId=' + userId;
    }

</script>

